node_modules/
.next/
out/
.vercel/
.env*.local
.DS_Store
*.tsbuildinfo
.superpowers/
next-env.d.ts
/coverage
/build
*.pem
npm-debug.log*

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
